@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto&display=swap'); 

/* General Styling */
* {
    margin: 0;
    padding: 0;
    border: none;

}

body {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#3a3a3a;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.2rem;
}

/* General Classes */
.section-padding {
    padding-top: 1rem;
}

.header-style h2, h3 {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

/* headings and logo */

#header-bgc {
    height: 5rem;
    width: 100%;
    background-color: #463f1a
}

h1  {
    font-family: 'MedievalSharp', sans-serif;
    letter-spacing: 1px;
    color: aliceblue;
}

h2  {
    font-family: MedievalSharp, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

/* navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #FFFFFF;
}

.menu, #logo {
    line-height: 75px;
    
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right:  30px;
}

.menu a {
    text-decoration: none;
    color:inherit;
}

.menu a:hover {
    border-bottom: 1px solid #FFFFFF;
}

.active {
    border-bottom: 1px solid #FFFFFF;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #463f1a;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2  {
    color: #fff;
    
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

/* animate zoom effect on loading page */
    animation-name: hero-zoom; 
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: MedievalSharp, sans-serif;
    text-transform: uppercase;


    width: 450px;
    height: 30%; 

    padding-bottom: 30px;
    padding-left: 10px;

    background-color: rgba(92, 64, 51, .5);
   
    bottom: 30px;
    left: 50px;

    position: absolute;
}

/* welcome */

#welcome {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #60492c;
    padding-top: 1rem;
   
}   
 #welcome h2{
    color: #FFFFFF;

 }

 .center {
    margin: auto;
    width: 70%;
    padding: 10px;
 }

 /* map */
 
 #map-container iframe {
    width: 100%;
    height: 16rem;
    border: none;
    display: block;
 }

 /*embedded youtube video */ 

 .video-embed {
    height: 600px;
    background-color: #60492c;
 }

 #video-content {
    padding-top: 30px;
    width:  33%;
    float: none;
    height: 33.75rem;
    margin: 2rem 0 0 10rem;
 
 }

 #video-content iframe {
    position: absolute;
    width: 50%;
    height: 60%;
    border: none;
 
 }



 #video-paragraph {
    float: right;
    width: 20%;
    margin: 6rem 6.25rem 0 0;
    padding: 1rem;
 }

 #video-paragraph h3 {
    text-align: center;
    color: #FFFFFF;
    font-size: larger;

 
 }

 #video-paragraph p {
    text-align: center;
    color:#FFFFFF;
    font-size: larger;

 }


#video-embed-heading {
    text-align: center;
    color:#FFFFFF;
    background-color: #463f1a;
    margin: 0px 0;
    font-size: 250%;
}

/* footer */

footer {
    background-color: #463f1a;
    width: 100%;
    position: absolute;
}

.social-media {
    text-align: center;
    background-color: #463f1a;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    padding: 0 3rem 0 0;
    color: #FFFFFF;
}
.social-media h4 {
    margin: 5%;
    font-size:  200%;
    color: #FFFFFF;
}

/* stonehenge landmark */

#row-a {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #60492c;
    padding-top: 1rem;
}

#row-a h2 {
    color:#FFFFFF;
}

#stonehenge-pics {
    padding-right: 90px;
    width: 33%;
    float: left;
}

#stonehenge {
    margin:0 auto;
    width:115%;
    height:335px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/stonehenge-2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#stonehenge:hover {
    background-image: url("../images/stonehenge-1.jpg");
}


#stonehenge-description {
    text-align: left;
}

#stonehenge-description h3 {
    text-align: left;
}

/* eiffel tower landmark */

#row-b {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #463f1a;
    padding-top: 1rem;
}

#eiffel-tower-description {
    text-align: right;
}

#eiffel-tower-description h3 {
    text-align: right;
}

#eiffel-tower-pics {
    padding-right: 90px;
    width: 30%;
    float: right;
}

#eiffel-tower {
    margin:0 1rem;
    width:115%;
    height:310px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/eiffel-tower2.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#eiffel-tower:hover {
    background-image: url("../images/eiffel-tower1.jpg");
}

#eiffel-tower-pic p {
    text-align: center;
}

/* the great pyramid of giza landmark */

#row-c {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #60492c;
    padding-top: 1rem;
}
#giza-pyramid-pics {
    padding-right: 90px;
    width: 33%;
    float: left;
}

#giza-pyramid {
    margin:0 auto;
    width:115%;
    height:300px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/giza-pyramid2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#giza-pyramid:hover {
    background-image: url("../images/giza-pyramid1.jpg");
}

#giza-pyramid-description {
    text-align: left;
}

#giza-pyramid-description h3 {
    text-align: left;
}

/* statue of liberty */
#row-d {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #463f1a;
    padding-top: 1rem;
}

#statue-of-liberty-description {
    text-align: right;
}

#statue-of-liberty-description h3 {
    text-align: right;
}

#statue-of-liberty-pics {
    padding-right: 90px;
    width: 30%;
    float: right;
}

#statue-of-liberty {
    margin:0 1rem;
    width:115%;
    height:310px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/statue-of-liberty2.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#statue-of-liberty:hover {
    background-image: url("../images/statue-of-liberty1.jpg");
}

/* colosseum */

#row-e {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #60492c;
    padding-top: 1rem;
}


#colosseum-pics {
    padding-right: 90px;
    width: 33%;
    float: left;
}

#colosseum {
    margin:0 auto;
    width:115%;
    height:400px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/colosseum2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#colosseum:hover {
    background-image: url("../images/colosseum1.jpg");
}


#colosseum-description {
    text-align: left;
}

#colosseum-description h3 {
    text-align: left;
}

/* form */

.form-section {
    clear: right;
    background-image: url('../images/sign-up.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}

#form-detail {
    margin: 10rem auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 30rem;
    height: auto;
    position: absolute;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 500px;
}

#form-detail > h2 {
    color:#fff;
    margin-top: 20px;
    font-size: larger;
    text-align: center;
}

#form-detail label {
    font-family: MedievalSharp, sans-serif;
    text-align: left;
    color: #fff;
    letter-spacing: 0.156rem;
    font-size: 1.2rem;
}

.text-input {
    background-color: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
    
}


.signin-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: left;
    font-size: 100%;
    background-color: #000000;
    color: #ff0000;
    display: block;
}

.signin-button:hover {
    background-color: #fafafa;
    color: #000000;
    cursor: pointer;
}

/* thank you */

#thank-you {
    margin: 15rem auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.15rem;
}

/* media queries */

/* Tablet */
@media screen and (max-width: 1200px) {
    /* General Classes */

    .header-style h2, h3 {
        font-size: 2rem;
        margin: 0.2rem;
    }
    
    .section-padding {
        padding-top: 1rem;
    }

    /* General Styling */

    p {
        font-size: 1rem;
    }

    /* headings and logo */

    #logo {
        font-size: 3rem;
        margin: 1rem 0 0 3rem;
    }

    /* navigation links */

.menu {
    font-size: 1rem;
    margin: 0 3rem 0 0.5rem;
}

/* welcome */
#welcome p {
    margin: 1.25rem 20rem 1.25rem 20rem;
   
}   

  /*embedded youtube video */ 

  #video-content {
    width:  50rem;
    height: 28.125rem;
    margin: 2rem 0 0 5rem;
 }

 #video-paragraph {
    width: 20%;
    margin: 8rem 10rem 0 0;
    padding: 0;
 }

 /* stonehenge landmark */

 #row-a {
    height: 700px;
    margin: 0 auto;
 }

 #stonehenge-pics, #stonehenge-description {
    width: 86.95%;
    float: none;
    padding: 0;

}    
#stonehenge-description h3, p {
    text-align: center;
}

/* eiffel tower landmark */

#row-b {
    height: 725px;
    margin: 0 auto;
}

#eiffel-tower-pics, #eiffel-tower-description {
    width: 85%;
    float: none;
    padding: 0;

}
#eiffel-tower-description h3, p {
        text-align: center;
}

/* the great pyramid of giza landmark */
    
#row-c {
    height: 600px;
    margin: 0 auto;
}

#giza-pyramid-pics, #giza-pyramid-description {
        width: 85%;
        float: none;
        padding: 0;
    
}    

#giza-pyramid-description h3, p {
    text-align: center;
}

/* statue of liberty*/

#row-d {
     height: 600px;
    margin: 0 auto;
}
    
#statue-of-liberty-pics, #statue-of-liberty-description {
    width: 85%;
    float: none;
    padding: 0;
    
}
#statue-of-liberty-description h3, p {
    text-align: center;
}

/* colosseum */

#row-e {
    height: 800px;
    margin: 0 auto;
}
#colosseum-pics, #colosseum-description {
    width: 86.95%;
    float: none;
    padding: 0;

}    
#colosseum-description h3, p {
    text-align: center;
}

}

/* Smartphone */
@media screen and (max-width: 1027px) {
/* General Classes */

    .header-style h2, h3 {
        font-size: 1.5rem;
        margin: 0.2rem;
    }
    
    .section-padding {
        padding-top: 1rem;
    }
    /* General Styling */

        p {
            font-size: 1rem;
        }
    
    /* headings and logo */
    
    #header-bgc {
        top: 0;
        z-index: 10;

        }
        
    #logo {
        float: left;
        margin: -1rem 0 0 0rem;
        font-size: 1.5rem;
        clear: left;
    }

    .menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 1rem;
        display: none;
    }

    .menu.active {
        display: inline;
    }


    #cover-text {
        left: 0;
    }

    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

/* welcome */

#welcome p {
    text-align: center;
    margin: 1rem 4rem 1rem 4rem;
   
}  

/*embedded youtube video */ 
.video-embed {
    height: 500px;
    background-color: #60492c;
 }
#video-content {
    width: 19rem;
    height: 10.6875rem;
    margin: auto;
}

#video-content iframe {
    position: absolute;
    width: 50%;
    height: 25%;
    border: none;
 
 }

#video-paragraph {
    float: none;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    display: block;
}
/* footers */


footer h4 {
    margin: 0;
}

.social-media {
    text-align: center;

}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    padding: 0 3rem 0 0;
    color: #FFFFFF;
}

 /* stonehenge landmark */

 #row-a {
    height: 710px;
    margin: 0 auto;
 }

 #stonehenge-pics, #stonehenge-description {
    float: left;
    padding: 0;
    width: 87%;

}    
#stonehenge-description h3, p {
    text-align: center;
}
/* eiffel tower landmark */

#row-b {
    height: 600px;
    margin: 0 auto;
}

#eiffel-tower-pics, #eiffel-tower-description {
    float: left;
    padding: 0;
    width: 84%;

}
#eiffel-tower-description h3, p {
        text-align: center;
}

/* the great pyramid of giza landmark */
    
#row-c {
    height: 600px;
    margin: 0 auto;
}

#giza-pyramid-pics, #giza-pyramid-description {
    float: left;
    padding: 0;
    
}    
#giza-pyramid-description h3, p {
    text-align: center;
}

/* statue of liberty*/

#row-d {
    height: 600px;
    margin: 0 auto;
}

#statue-of-liberty-pics, #statue-of-liberty-description {
    float: left;
    padding: 0;
    width: 85%;

}
#statue-of-liberty-description h3, p {
        text-align: center;
    }
/* colosseum */

#row-e {
    height: 800px;
    margin: 0 auto;
}
#colosseum-pics, #colosseum-description {
    float: left;
    padding: 0;

}    
#colosseum-description h3, p {
    text-align: center;
}

/* form */

.form-section {
    height: 40rem;
}

#form-detail {
    margin: 10rem 3rem;
    width: 80%;
    height: auto;
    padding: 0.5rem;
    border-radius: 15px;
}

#form-detail > h2 {
    color:#fff;
    margin-top: 20px;
    font-size: small;
    text-align: center;
}

#form-detail label {
    font-size: 0.8rem;
}

.text-input {
    background-color: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
    
}


.signin-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: left;
    font-size: 100%;
    background-color: #000000;
    color: #ff0000;
    display: block;
}

.signin-button:hover {
    background-color: #fafafa;
    color: #000000;
    cursor: pointer;
}

}

@media screen and (max-width: 996px) {
    
    /* stonehenge landmark */

#row-a {
    height: 750px;
    margin: 0 auto;
}

    /* eiffel tower landmark */

#row-b {
    height: 760px;
    margin: 0 auto;
}

/* the great pyramid of giza landmark */
    
#row-c {
    height: 700px;
    margin: 0 auto;

}
/* statue of liberty*/

#row-d {
    height: 700px;
    margin: 0 auto;
}

/* colosseum */
#row-e {
    height: 848px;
    margin: 0 auto;
}

}

@media screen and (max-width: 819px) {
    
    /* stonehenge landmark */

#row-a {
    height: 850px;
    margin: 0 auto;
}

    /* eiffel tower landmark */

#row-b {
    height: 700px;
    margin: 0 auto;
}

/* the great pyramid of giza landmark */
    
#row-c {
    height: 700px;
    margin: 0 auto;

}
/* statue of liberty*/

#row-d {
    height: 700px;
    margin: 0 auto;
}

/* colosseum */
#row-e {
    height: 848px;
    margin: 0 auto;
}

}

@media screen and (max-width: 540px) {
    /* Landmarks */ 

 /* stonehenge landmark */

 #row-a {
    width: 90%;
    height: 900px;
    margin: 0 auto;
 }

 #stonehenge-pics, #stonehenge-description {
    width: 86.95%;
    float: left;
    padding: 0;
    font-size: 0.8rem;

}    
#stonehenge-description h3, p {
    text-align: center;
}
/* eiffel tower landmark */

#row-b {
    width: 90%;
    height: 760px;
    margin: 0 auto;
}

#eiffel-tower-pics, #eiffel-tower-description {
    width: 80%;
    float: left;
    padding: 0;

}
#eiffel-tower-description h3, p {
    text-align: center;
}

/* the great pyramid of giza landmark */
    
#row-c {
    width: 90%;
    height: 700px;
    margin: 0 auto;

}
#giza-pyramid-pics, #giza-pyramid-description {
    width: 86.95%;
    float: left;
    padding: 0;
    
}   

#giza-pyramid-description h3, p {
    text-align: center;
}
/* statue of liberty*/

#row-d {
    width: 90%;
    height: 700px;
    margin: 0 auto;
}

#statue-of-liberty-pics, #statue-of-liberty-description {
    width: 84%;
    float: left;
    padding: 0;

}
#statue-of-liberty-description h3, p {
        text-align: center;
    }
/* colosseum */

#row-e {
    width: 90%;
    height: 972px;
    margin: 0 auto;
}
#colosseum-pics, #colosseum-description {
    width: 86.95%;
    float: left;
    padding: 0;

}    
#colosseum-description h3, p {
    text-align: center;
}

}

@media screen and (max-width: 430px) {

/* Navigation */
.menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 0.5rem;
    display: none;
    }

    .menu .active {
        display: inline;
    }

    /* Landmarks */ 

 /* stonehenge landmark */

 #row-a {
    width: 90%;
    height: 850px;
    margin: 0 auto;
 }

 #stonehenge-pics, #stonehenge-description {
    width: 86.95%;
    float: left;
    padding: 0;
    font-size: 0.2rem;

}    
#stonehenge-description h3, p {
    text-align: center;
}
/* eiffel tower landmark */

#row-b {
    width: 90%;
    height: 740px;
    margin: 0 auto;
}

#eiffel-tower-pics, #eiffel-tower-description {
    width: 80%;
    float: left;
    padding: 0;

}
#eiffel-tower-description h3, p {
        text-align: center;
    }

    /* the great pyramid of giza landmark */
    
    #row-c {
        width: 90%;
        height: 700px;
        margin: 0 auto;
    }
    #giza-pyramid-pics, #giza-pyramid-description {
        width: 86.95%;
        float: left;
        padding: 0;
    
    }    
    #giza-pyramid-description h3, p {
        text-align: center;
    }
/* statue of liberty*/

#row-d {
    width: 90%;
    height: 700px;
    margin: 0 auto;
}

#statue-of-liberty-pics, #statue-of-liberty-description {
    width: 84%;
    float: left;
    padding: 0;

}
#statue-of-liberty-description h3, p {
        text-align: center;
    }
/* colosseum */

#row-e {
    width: 90%;
    height: 972px;
    margin: 0 auto;
}
#colosseum-pics, #colosseum-description {
    width: 86.95%;
    float: left;
    padding: 0;

}    
#colosseum-description h3, p {
    text-align: center;
}

}