@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=UnifrakturMaguntia&display=swap'); 

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {

    font-family: MedievalSharp, sans-serif;
    font-weight: 300;
    color:#3a3a3a
}

p {
    font-size: 1.2rem;
}

/* General Classes */
.section-padding {
    padding-top: 1rem;
}

.header-style h2, h3 {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;


}

/* headings and logo */

#header-bgc {
    height: 5rem;
    width: 100%;
    background-color: #463f1a
}

h1  {
    font-family: UnifrakturMaguntia, sans-serif;
    letter-spacing: 1px;
    color: aliceblue;
}

h2  {
    font-family: MedievalSharp, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #FFFFFF;
}

#menu, #logo {
    line-height: 75px;
    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right:  30px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FFFFFF;
}

.active {
    border-bottom: 1px solid #FFFFFF;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2  {
    color: #fff;
    
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

/* animate zoom effect on loading page */
    animation-name: hero-zoom; 
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: MedievalSharp, sans-serif;
    text-transform: uppercase;


    width: 450px;
    height: 30%; 

    padding-bottom: 30px;
    padding-left: 10px;

    background-color: rgba(92, 64, 51, .5);
   
    bottom: 30px;
    left: 50px;

    position: absolute;
}

/* welcome */

#welcome {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #60492c;
    padding-top: 1rem;
   
}   
 #welcome h2{
    color: #FFFFFF;

 }

 .center {
    margin: auto;
    width: 70%;
    padding: 10px;
 }

 /* map */
 
 #map-container iframe {
    width: 100%;
    height: 16rem;
    border: none;
    display: block;
 }

 /*embedded youtube video */ 

 #video-embed {
    height: 600px;
    background-color: #60492c;
 }

 #video-content {
    padding-top: 30px;
    width:  33%;
    float: none;
 
 }

 #video-content iframe {
    position: absolute;
    bottom: 5;
    right: 30;
    width: 50%;
    height: 60%;
    border: none;
 
 }

 .video-tube {
    width: 75%;
    float:  right;
    line-height: 40px;
    clear: both;
    margin-bottom: 15px;
 }

 #video-paragraph {
    padding-top: 30px;
    width: 33%;
    float: right;
 }

 .tube-paragraph h3 {
    text-align: center;
    color: #FFFFFF;
 
 }

 .tube-paragraph p {
    text-align: center;
    color:#FFFFFF
 }


#video-embed-heading {
    text-align: center;
    color:#FFFFFF;
    background-color: #463f1a;
    margin: 0px 0;
    font-size: 250%;
}

/* footer */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
    background-color: #463f1a;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    padding: 0 3rem 0 0;
    color: #FFFFFF;
}
.social-media h4 {
    margin: 5%;
    font-size:  200%;
    color: #FFFFFF;
}

/* stonehenge landmark */

#row-a {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #60492c;
    padding-top: 1rem;
}

#row-a h2 {
    color:#FFFFFF;
}

#stonehenge-pics {
    padding-right: 90px;
    width: 33%;
    float: left;
}

#stonehenge {
    margin:0 auto;
    width:115%;
    height:335px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/stonehenge-2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#stonehenge:hover {
    background-image: url("../images/stonehenge-1.jpg");
}


#stonehenge-description {
    text-align: left;
}

#stonehenge-description h3 {
    text-align: left;
}

/* eiffel tower landmark */

#row-b {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #463f1a;
    padding-top: 1rem;
}

#eiffel-tower-description {
    text-align: right;
}

#eiffel-tower-description h3 {
    text-align: right;
}

#eiffel-tower-pics {
    padding-right: 90px;
    width: 30%;
    float: right;
}

#eiffel-tower {
    margin:0 1rem;
    width:115%;
    height:310px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/eiffel-tower2.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#eiffel-tower:hover {
    background-image: url("../images/eiffel-tower1.jpg");
}

#eiffel-tower-pic p {
    text-align: center;
}

/* the great pyramid of giza landmark */

#row-c {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    background-color: #60492c;
    padding-top: 1rem;
}
#giza-pyramid-pics {
    padding-right: 90px;
    width: 33%;
    float: left;
}

#giza-pyramid {
    margin:0 auto;
    width:115%;
    height:335px;
    transition: background-image 1s ease-in-out;
    background-image:url("../images/giza-pyramid2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#stonehenge:hover {
    background-image: url("../images/giza-pyramid1.jpg");
}
